/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #010214;
    color: #f6f9ff;
    position: relative; /* Make the body a containing block for absolutely positioned elements */
}

header {
    padding: 20px 40px;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #f6f9ff;
    font-weight: 600;
}

.login {
    border: 2px solid #b484d7;
    border-radius: 20px;
    padding: 5px 15px;
}

.hero {
    text-align: left;
    padding: 100px 40px;
    max-width: 600px;
}

.hero h1 {
    font-size: 56px;
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #b484d7;
    color: #010214;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
}


.gif-container {
    position: absolute;
    top: 67%;
    right: 10px;
    transform: translateY(-50%);
    width: 800px; /* Adjust size as needed */
    height: auto;
}

.homepage-gif {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: Adds rounded corners to the image */
}

@media (max-width: 768px) {
    .hero {
        padding: 50px 20px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .background-shape {
        width: 300px;
        height: 300px;
    }

    header {
        justify-content: space-between;
    }

    .gif-container {
        right: 30px;
        width: 200px; /* Adjust size for smaller screens */
    }
}

